<div class="startPage" (click)="clickMe()">
    <div class="header">
        <div class="image_palceholder">
            <div class="image">

            </div>
        </div>
    </div>
    <div class="content">
        <div class="content_header">
            <div class="intro">
                <span class="title">
                    Hello, I am&nbsp;<span id="custom">Codruț Marin</span>!
                </span>
                <span class="sub-title">
                    - Software developer -
                </span>
            </div>
        </div>
        <div class="content_body">
            <div class="about_me">
                I am a highly motivated programmer working as a Software Developer.
                Capable to learn quickly new programming languages, with medium to
                advance knowledge in: Java, C#, Go, Angular and others.
            </div>
        </div>
    </div>
    <div class="footer">
        <span class="links">
        <mat-icon
          svgIcon="linkedin"
          aria-hidden="false"
          aria-label="Example linkedin SVG icon"
        >
        </mat-icon>

        <mat-icon
          class="middle"
          svgIcon="github"
          aria-hidden="false"
          aria-label="Example linkedin SVG icon"
        >
        </mat-icon>

        <mat-icon
          class="mail"
          svgIcon="mail"
          aria-hidden="false"
          aria-label="Example linkedin SVG icon"
        >
        </mat-icon>
      </span>
    </div>
</div>