<div class="startPage">
  <div class="content">
    <div class="image_placeholder">
      <div class="image">
        <div class="inner_image"></div>
      </div>
    </div>
    <div class="about_me_placeholder">
      <div class="intro">
        <div id="line"></div>
        <span class="title">
          Hello, I am <span id="custom">Codrut Marin</span>!
        </span>
        <span class="sub_title">
          Software Developer
        </span>
        <div id="line"></div>
      </div>
      <div class="about_me">
        <span class="description">
          I am a highly motivated programmer working as a Software Developer.
          Capable to learn quickly new programming languages, with medium to
          advance knowledge in: Java, C#, Go, Angular and others.
        </span>
      </div>
    </div>
    <div class="contact_placeholder">
      <span class="contact_links">
        <mat-icon
          svgIcon="linkedin"
          aria-hidden="false"
          aria-label="Example linkedin SVG icon"
        >
        </mat-icon>

        <mat-icon
          class="middle"
          svgIcon="github"
          aria-hidden="false"
          aria-label="Example linkedin SVG icon"
        >
        </mat-icon>

        <mat-icon
          class="mail"
          svgIcon="mail"
          aria-hidden="false"
          aria-label="Example linkedin SVG icon"
        >
        </mat-icon>
      </span>
    </div>
  </div>
</div>

<!-- <div class="contact">
    <span class="contact_links">
      <mat-icon
        svgIcon="linkedin"
        aria-hidden="false"
        aria-label="Example linkedin SVG icon"
      >
      </mat-icon>

      <mat-icon
        svgIcon="github"
        aria-hidden="false"
        aria-label="Example linkedin SVG icon"
      >
      </mat-icon>

      <mat-icon
        class="mail"
        svgIcon="mail"
        aria-hidden="false"
        aria-label="Example linkedin SVG icon"
      >
      </mat-icon>
    </span>
  </div> -->
