:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  #app {
    flex: 1;
    display: flex;
    overflow: hidden;
  }
  // @media (min-width: 450px) and (min-height: 800px) {
  //   .app {
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //   }
  // }
}
